<h1>Joke</h1>

@if (joke) {
  <div>
    {{ joke.value }}
  </div>
}
<div>
  -----------------------------------------------------
</div>
<div *ngIf="joke2$ | async as joke2">
  <div>
    <img src="{{ joke2.icon_url }}" alt="chuck">
    {{ joke2.value }}
  </div>
</div>

<div>
  -----------------------------------------------------
</div>
@if (joke3) {
  <div>
    {{ joke3 }}
  </div>
}

<div>
  -----------------------------------------------------
</div>
@if (joke4) {
  <div>
    <img src="{{ joke4.iconUrl }}" alt="chuck">
    <img src="{{ joke4.icon_url }}" alt="chuck">
    {{ joke4.value }}
  </div>
}

